mixin loremBlock
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nihil ducimus voluptatum beatae debitis, asperiores repellendus mollitia repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nihil ducimus voluptatum beatae debitis, asperiores repellendus mollitia repudiandae.